<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
<div class="container">
    <% produtos.forEach(produto=> {%>
        <P><%= produto.titulo %></P>
        <p><%= produto.descricao %></p>
    
    <%}) %> 


</div>

<%- include('partials/footer') %> 